<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="springBoot.ict.movie.dao.CustomerMapper">
	
	<!-- 고객등록 -->
	<insert id="insertCustomer" parameterType="springBoot.ict.movie.dto.CustomerDTO">
		INSERT INTO IM_Customer(IC_No, IC_email, IC_name, IC_password, IC_hp, IC_birthday, IC_address)
		VALUES((SELECT NVL(MAX(IC_No)+1, 1) FROM IM_Customer), #{email}, #{name}, #{password}, #{hp}, #{birthday}, #{address}) 
	</insert>
	
	<!-- 고객 리스트 -->
	<select id="customerList" resultType="springBoot.ict.movie.dto.CustomerDTO">
		SELECT IC_No No, IC_email email, IC_name name, IC_password password, IC_hp hp, IC_birthday birthday, IC_address address, IC_regdate regdate, IC_show show FROM IM_Customer ORDER BY IC_No ASC
	</select>
	
	
	<!-- 로그인 처리 -->
	<select id="loginCustomer" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM IM_Customer WHERE IC_email=#{email} and IC_password=#{password} and IC_show ='y'
	</select>
	
	<!-- 아이디 찾기  -->
	<select id="findID" parameterType="java.util.Map" resultType="String">
		SELECT IC_email 
    	FROM IM_Customer 
    	WHERE IC_name = #{name} AND IC_hp = #{hp} 
	</select>
	
	
</mapper>