.Res_Payment a {
    text-decoration: none;
    color: #666;
}

.Res_Payment ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Res_Payment li {
    list-style: none;
}

.Res_Payment {
    display: flex;
    padding: 0;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#Res_Payment li {
    border: 1px solid #666;
    border-bottom: none;
    width: 100px;
}

.Res_Payment .step {
    padding: 100px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

.Res_Payment .step_content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    left: 100%;
    top: 0;
    padding-left: 20px;
}

.Res_Payment .step_content dt {
    padding: 10px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.Res_Payment .step:hover .step_content {
    background-color: #FF243E;
    display: flex;
    align-items: center;
    height: 100%;
}

.Res_Payment .step:hover {
    background-color: #FF243E;
    cursor: pointer;
}

.Res_Payment #step1 {
    background-color: #FF243E;
}

.Res_Payment #step1 a,
.Res_Payment #step2 a {
    color: white;
}

.Res_Payment #step2 {
    background-color: #333;
}

.Res_Payment .step:hover a {
    color: white;
}

.Res_Payment .menu3 {
    background-color: #F5F5F5;
}

.Res_Payment .menu2_right ul,
.Res_Payment .menu3_right ul,
.Res_Payment .menu4_right ul {
    list-style: none;
    width: 400px;
    font-size: 15px;
    text-align: left;
}

.Res_Payment .menu2_right li,
.Res_Payment .menu3_right li,
.Res_Payment .menu4_right li {
    font-size: 12px;
    text-align: left;
    margin: 5px;
}

.Res_Payment .menu2_left,
.Res_Payment .menu2_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Res_Payment .menu2,
.Res_Payment .menu3,
.Res_Payment .menu4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Res_Payment .Res_tit {
    font-size: 18px;
    padding: 20px 150px;
    border: 1px solid #666;
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 600;
    height: 68px;
}

.Res_Payment .Res_left>li:nth-of-type(2) {
    height: -webkit-calc(100% - 65px);
}

.Res_Payment .Res_left,
.Res_Payment .menu2,
.Res_Payment .menu3,
.Res_Payment .menu4 {
    height: 100%;
}

.Res_Payment .Res_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Res_Payment .menu2_sub {
    margin-top: 20px;
}

.Res_Payment .menu2_sub li {
    text-align: left;
    font-size: 12px;
    margin: 5px;
}

.Res_Payment .menu2_sub li strong {
    font-size: 15px;
}

.Res_Payment .movie_img {
    width: 130px;
    height: 180px;
    margin-top: 20px;
}

.Res_Payment .age_img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.Res_Payment .event_img {
    margin-top: 20px;
}

.Res_Payment .menu3_main {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.Res_Payment .payment_seat,
.Res_Payment .point_seat {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid #666;
    margin-top: 20px;
    font-size: 13px;
}

.Res_Payment .point_seat_main {
    font-size: 12px;
    margin-top: 20px;
    background-color: white;
}

.Res_Payment .usePoint {
    text-align: left;
    border: 1px solid #666;
    padding: 10px;
}

.Res_Payment .usePoint li {
    padding: 15px;
    font-size: 13px;
    border-top: 1px solid #666;
}

.Res_Payment .usePoint li input[type="text"] {
    font-size: 10px;
    text-align: center;
    width: 150px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #666;
}

.Res_Payment .usePointBtn {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid #666;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 50px;
}

.Res_Payment .usePointBtn:hover {
    background-color: #FF243E;
    color: white;
    border: 1px solid #FF243E;
}

.Payment {
    transform: translate(120%, -160%);
    width: 30%;
    height: 50%;
    align-items: center;
    position: relative;
    background-color: white;
    border: 1px solid #666;
}

.Payment .Payment_close {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid #666;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 300px;
    margin-bottom: 10px;
}

.Payment .Payment_close:hover {
    background-color: #FF243E;
    color: white;
    border: 1px solid #FF243E;

}

.Res_Payment .menu4_left {
    margin-top: 100%;
    width: 100%;
}

.Res_Payment .paymentBtn,
.Res_Payment .paymentBtn_total {
    background-color: #333;
    color: white;
    font-size: 13px;
    width: 400px;
    height: 80px;
    text-align: left;
    float: bottom;
    border: none;
    border-bottom: 1px solid #666;
    padding: 30px;
}

.Res_Payment .paymentBtn_total {
    background-color: #FF243E;
    border: none;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}