.Consult{
    display: inline;
}

.haveto{
    color: red;
    font-size: 5px;
}

.select1{
    margin-right: 5px;
}

.consult_content{
    padding:13px 18px;
}


.Consult_table>tr{
    border-bottom: 1px solid rgb(207, 207, 207);
}

.Consult_table>tr>td{
    border-bottom: 1px solid rgb(207, 207, 207);
    text-align: left;
}

.select1{
    background-color:rgba(211, 211, 211, 0.178);
    
}

.select2{
    background-color:rgba(211, 211, 211, 0.178);
}

.myinfo{
    display: inline;
}

.myinfo_table>tr{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 7px 4px;
    height: 20px;
}

.myinfo_table>tr>td{
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 7px 4px;
    height: 20px;
    text-align: left;
}

.consult_content{
    margin:50px 144px;
    width:85%;
    height:200px;
    padding-top:10px;
    padding-left: 20px;
    font-size:13px;
    font-weight: bold;
    background-color:rgba(211, 211, 211, 0.178);
    border:1px solid rgba(220, 220, 220, 0.445);
}