/*현재 상영작 TOP 5*/

.movie-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px; 
    margin-right: 10%; /* 이미지 사이 간격 */
  }
  
  .movie {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .movie img {
    width: 70%;
    height: auto;
  }
  
  .movie p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    
    padding: 10px;
    margin-bottom: 20px; 
    margin-right: 10%; /* 이미지 사이 간격 */
  }
  
/*상영 예정작 TOP 5*/

.movie-list2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px; 
    margin-right: 10%; /* 이미지 사이 간격 */
  }
  .movie2 {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .movie2 img {
    width: 70%;
    height: auto;
  }
  
  .movie2 p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
  }